<div class="thy-card-wrapper">
    <div class="thy-card-priority"></div>
    <div class="thy-card-content">
        <div class="thy-card-content-header">
            <div class="thy-card-content-header-left">
                <input type="radio" />
            </div>
            <div class="thy-card-content-header-right">
                macj
            </div>
        </div>
        <div class="thy-card-content-body">
            <div class="thy-card-name">{{task.title}}</div>
        </div>
        <div class="thy-card-content-footer">
            <span class="thy-card-aside-item link-secondary"><i class="wtf wtf-attachment"></i>2</span>
            <span class="thy-card-aside-item link-secondary"><i class="wtf wtf-commenting-o"></i>3</span>
            <span class="thy-card-aside-item" thyLabel="primary">bug</span>
            <span class="thy-card-aside-item" thyLabel="success">重要</span>
            <span class="thy-card-aside-item" thyLabel="info">紧急</span>
            <span class="thy-card-aside-item" thyLabel="warning">超期</span>
            <span class="thy-card-aside-item" thyLabel="danger">客户</span>
        </div>
    </div>
</div>