<div class="main-content">
    <div class="main-header">
        <div class="main-header-title">
            <img src="assets/img/avatars/6.jpg" class="img-avatar avatar" alt="admin@bootstrapmaster.com"/>
            <span class="main-header-text">研发部</span>
        </div>
        <div class="main-header-nav">
            <ul>
                <li>
                    <a [routerLink]="['message']" routerLinkActive="active"><i class="fa fa-commenting-o"></i>聊天</a>
                </li>
                <li>
                    <a [routerLink]="['affair']" routerLinkActive="active"><i class="fa fa-tasks"></i>事务</a>
                </li>
                <li>
                    <a [routerLink]="['file']" routerLinkActive="active"><i class="fa fa-file-o"></i>文件</a>
                </li>
            </ul>
        </div>
        <div class="main-header-aside">
            产品研发部
        </div>
    </div>
    <div class="main-body">
        <router-outlet></router-outlet>
    </div>
</div>
