.input-group-search{
  .form-control{
    border-radius: 20px 0 0 20px;
  }
  .input-group-text{
    border-radius: 0 20px 20px 0;
  }
}

.main-header-title{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;
  min-width: 150px;
  .main-header-text{
    margin-left: 10px;
    font-size: 1.1em;
    color: $main-header-text-color;
  }
}

.main-header-nav{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    height:100%;
    li{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0 10px;
      a{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1.1em;
        color:$main-header-nav-color;
        padding: 0 20px;
        &:hover,&:active,&.active{
          text-decoration: none;
          @include borders($main-header-nav-border);
          margin-bottom: -1px;
        }
        i{
          margin-right: 5px;
        }
      }
    }
  }
}
.main-header-aside{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
