//Nav
$nav-width:                           50px;
$nav-header-height:                   60px;
$nav-brand-minimized-logo-size:       45px;
$nav-bg:                              $gray-800 !default;

$navbar-color:                        $gray-300 !default;
$sidebar-bg:                          $gray-700 !default;


//Main
$main-aside-width:                    200px;
$main-aside-height:                   60px;
$main-aside-bg:                       $gray-700;
$main-aside-padding:                  13px 10px 10px 10px;
$main-header-height:                  60px;
$main-header-border: (
        bottom: (
                size:                 1px,
                style:                solid,
                color:                $border-color
        )
)!default;
$main-header-bg:$white;
$main-header-text-color:$gray-600;
$main-header-nav-color:$gray-600;
$main-header-nav-border:(
        bottom:(
                size:1px,
                style:solid,
                color:$gray-700
        )
);
$main-body-padding:20px;


//aside nav
$aside-title-color:                   $gray-200;
$aside-nav-link-color:                $gray-300;
$aside-nav-item-hover-bg:             theme-color("primary") !default;
$aside-nav-item-hover-color:          #fff;
$aside-nav-create-link-color:$gray-400;
$aside-nav-create-link-hover-color:theme-color("primary") !default;


//App-slider
$app-slider-width:                    500px !default;
$app-slider-bg:$white;
$app-slider-border: (
        left: (
                size:                 1px,
                style:                solid,
                color:                $border-color
        )
)!default;
